/* Universal Selector */
/* Hopefully the grey background saves your eyes */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 255, 255) 100%);
}

header {
  text-align: center;
  font-size: 150%;
}

/* Type Selector */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  text-align: left;
  width: 90%;
  max-width: 1024px;
  margin: 15px auto;
  padding: 15px 1.5em;
  border: thin solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(66, 66, 66);
}

h1 h2 h3 {
  padding-bottom: 0.75em;
  text-align: center;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 175%;
}

#aboutme {
  padding: 1em 0em 1em 0em;
  max-width: 500px;
  margin: 0 auto;
}

#education {
  padding: 1em 0em 1em 0em;
  max-width: 500px;
  margin: 0 auto;

  img {
    margin-top: 0.5em;
  }
}

/* Removes the default bullet point style for the unordered list */
ul.list1 {
  list-style: none;
  padding-left: 0;
}

#funfacts {
  padding: 1em 0em 1em 0em;
  max-width: 500px;
  margin: 0 auto;
}

ul.list2 {
  list-style: none;
  padding-left: 0;
}

#favoritefood {
  padding: 1em 0em 1em 0em;
  max-width: 500px;
  margin: 0 auto;
}

#foodimages {
  margin-top: 1em;
  height: 400px;
  display: grid;
  grid-template: repeat(2, 150px) / repeat(3, 180px);
  grid-gap: 50px 20px;
  justify-content: center;
}

ul.list3 {
  list-style: none;
  padding-left: 0;
}

#goals {
  padding: 1em 0em 1em 0em;
  max-width: 500px;
  margin: 0 auto;
  clear: both;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border: thin solid rgb(255, 255, 255);
}

#index_goals {
  /* Google Font special font requirement for Module 9 */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: initial;
  font-style: normal;
  list-style: none;
}

/* Class Selector */
.heading_class {
  font-family: 'Trebuchet MS';
  font-weight: 300;
  color: rgb(0, 255, 255);
}

/* Relational Selector */
main li {
  font-size: 100%;
}

/* Pseudo-class(es) */
:link {
  color: rgb(0, 255, 255);
}

/* I changed the visited link color from the default purple that way the words are still readable on the dark background*/
:visited {
  color: rgb(0, 255, 255);
}

/* Navigation Menu */

#nav_menu {
  padding-top: 1em;
  padding-bottom: 2em;
  margin: 15px auto;
}

#nav_menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#nav_menu ul li {
  float: left;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 175px;
  padding: 1em 0;
  text-decoration: none;
  background-color: rgb(0, 255, 255);
  color: rgb(128, 128, 128);
  font-weight: bold;
  border-right: 2px solid rgb(128, 128, 128);
}

#nav_menu ul li a.lastitem {
  border-right: none;
}

#nav_menu ul li a.current {
  color: yellow;
}

footer {
  padding-top: 2em;
  clear: both;

  /* I added this to seperate external links and placeholder links*/
  :link {
    color: rgb(255, 255, 255);
  }

  :visited {
    color: rgb(255, 255, 255);
  }
}

/* Media Queries */

/* Prevents the navigation menu from going off screen when the screen width is at 750px or less*/
@media only screen and (max-width: 750px) {
  #nav_menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #nav_menu ul li {
    float: none;
    margin: 0 auto;
  }

  #nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(0, 255, 255);
    color: rgb(128, 128, 128);
    font-weight: bold;
    border-bottom: 2px solid rgb(128, 128, 128);
  }
}

/* Reformats the grid component to a 2 by 3 grid to fit comfortably on the screen*/
@media only screen and (max-width: 660px) {
  #foodimages {
    height: 400px;
    display: grid;
    grid-template: repeat(3, 150px) / repeat(2, 180px);
    grid-gap: 50px 20px;
    justify-content: center;
    margin-bottom: 10em;
  }
}

/* Prevents any text breaking between 360 and 570 pixels*/
@media only screen and (max-width: 570px) {
  #aboutme {
    padding: 1em 0em 1em 0em;
    max-width: 300px;
    margin: 0 auto;
  }

  #funfacts {
    padding: 1em 0em 1em 0em;
    max-width: 300px;
    margin: 0 auto;
  }

  #favoritefood {
    padding: 1em 0em 1em 0em;
    max-width: 300px;
    margin: 0 auto;
  }

  #goals {
    font-size: 18px;
    padding: 1em 0em 1em 0em;
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Reformats the grid component to a 1 by 6 grid to fit comfortably on the screen*/
@media only screen and (max-width: 460px) {
  #foodimages {
    height: 400px;
    display: grid;
    grid-template: repeat(6, 150px) / repeat(1, 180px);
    grid-gap: 50px 20px;
    justify-content: center;
    margin-bottom: 45em;
  }
}