/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 100%;
}

html {
  background-image: linear-gradient(to bottom, black 0%, cyan 100%);
}

header {
  text-align: center;
  font-size: 150%;
}

/* Type Selector */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 15px auto;
  padding: 15px 1.5em;
  border: thin solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(66, 66, 66);
}

br {
  clear: both;
}

h2 {
  font-size: 200%;
  padding-bottom: 1em;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border: thin solid rgb(255, 255, 255);
}

div#flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 3em;
}

#facts {
  float: left;
  max-width: 350px;
  margin-right: 0.5em;
}

/* Removes the default bullet point style for the unordered list */
ul.list2 {
  list-style: none;
  padding-left: 0;
}

#bestdog {
  float: right;
  max-width: 610px;
  margin-left: 0.5em;
}

#golden {
  display: block;
  margin: 0 auto;
  float: right 1em;
  max-width: 350px;
}

#whatmaxdoes {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  padding: 1em 0em 3em 0em;
}

#favoritetreats {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  padding: 1em 0em 3em 0em;
}

#favoritetoys {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  padding: 1em 0em 3em 0em;
}

#toys {
  height: 400px;
  display: grid;
  grid-template: repeat(2, 150px) / repeat(3, 180px);
  grid-gap: 50px 20px;
  justify-content: center;
}

footer {
  padding-top: 2em;
  clear: both;

  /* I added this to seperate external links and placeholder links*/
  :link {
    color: rgb(255, 255, 255);
  }

  :visited {
    color: rgb(255, 255, 255);
  }
}

.heading_class {
  font-family: 'Trebuchet MS';
  font-weight: 300;
  color: rgb(0, 255, 255);
}

:link {
  color: rgb(0, 255, 255);
}

/* I changed the visited link color from the default purple that way the words are still readable on the dark background*/
:visited {
  color: rgb(0, 255, 255);
}

/* Navigation Menu */

#nav_menu {
  padding-top: 1em;
  padding-bottom: 2em;
  margin: 15px auto;
}

#nav_menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#nav_menu ul li {
  float: left;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 175px;
  padding: 1em 0;
  text-decoration: none;
  background-color: rgb(0, 255, 255);
  color: rgb(128, 128, 128);
  font-weight: bold;
  border-right: 2px solid rgb(128, 128, 128);
}

#nav_menu ul li a.lastitem {
  border-right: none;
}

#nav_menu ul li a.current {
  color: yellow;
}

footer {
  clear: left;
  padding-top: 2em;
}

/* Media Queries */

/* Fixes the flex container to change the flex-direction from row to column, 
as well as recentering the items to fit onto the screen from <997 px*/
@media only screen and (max-width: 997px) {
  div#flex1 {
    flex-direction: column;
    align-items: center;
  }
}

/* Fixes the navigation menu from a row of buttons to a column in order to fit within 360-750 pixels */
@media only screen and (max-width: 750px) {
  #nav_menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #nav_menu ul li {
    float: none;
    margin: 0 auto;
  }

  #nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(0, 255, 255);
    color: rgb(128, 128, 128);
    font-weight: bold;
    border-bottom: 2px solid rgb(128, 128, 128);
  }
}

/* Prevents any text breaking between 804 and 631 pixels */
@media only screen and (max-width: 804px) {
  #bestdog {
    float: right;
    max-width: 550px;
    margin-left: 0.5em;
  }

  #whatmaxdoes {
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    padding: 1em 0em 3em 0em;
  }

  #favoritetreats {
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    padding: 1em 0em 3em 0em;
  }

  #favoritetoys {
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    padding: 1em 0em 3em 0em;
  }

}

/* Prevents any text breaking between 631 and 546 pixels */
@media only screen and (max-width: 631px) {
  #bestdog {
    float: right;
    max-width: 475px;
    margin-left: 0.5em;
  }

  #whatmaxdoes {
    text-align: center;
    margin: 0 auto;
    max-width: 475px;
    padding: 1em 0em 3em 0em;
  }

  #favoritetreats {
    text-align: center;
    margin: 0 auto;
    max-width: 475px;
    padding: 1em 0em 3em 0em;
  }

  #favoritetoys {
    text-align: center;
    margin: 0 auto;
    max-width: 475px;
    padding: 1em 0em 3em 0em;
  }

  /* Ensures that the grid component stays within the width of the screen while
  keeping a comfortable margin*/
  #toys {
    height: 550px;
    display: grid;
    grid-template: repeat(3, 150px) / repeat(2, 180px);
    grid-gap: 50px 20px;
    justify-content: center;
  }
}

/* Prevents any text breaking between 546 and 360 pixels */
@media only screen and (max-width: 546px) {
  #bestdog {
    float: right;
    max-width: 300px;
    margin-left: 0.5em;
  }

  #whatmaxdoes {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 1em 0em 3em 0em;
  }

  #favoritetreats {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 1em 0em 3em 0em;
  }

  #favoritetoys {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 1em 0em 3em 0em;
  }

}

/* Ensures that the grid component stays within the width of the screen while
  keeping a comfortable margin*/
@media only screen and (max-width: 440px) {
  #toys {
    height: 1150px;
    display: grid;
    grid-template: repeat(6, 150px) / 180px;
    grid-gap: 50px 20px;
    justify-content: center;
  }
}