/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 255, 255) 100%);
}

header {
    text-align: center;
    font-size: 150%;
}

/* Type Selector */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    text-align: left;
    width: 90%;
    max-width: 1024px;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: thin solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
}

h1 {
    font-size: 250%;
    padding: 0em 0em 0.25em 0em;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 175%;
}

h2 h3 {
    padding: 0em 0em 0.5em 0em;
}

#hobbies {
    padding: 1em 0em 1em 0em;
    max-width: 500px;
    margin: 0 auto;
}

#favoritegames {
    padding: 1em 0em 1em 0em;
    max-width: 500px;
    margin: 0 auto;

    img {
        margin-top: 0.5em;
    }
}

#musicgenres {
    padding: 1em 0em 1em 0em;
    max-width: 500px;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border: thin solid rgb(255, 255, 255);
}

#songlink {
    text-align: center;
}

/* Class Selector */
.heading_class {
    font-family: 'Trebuchet MS';
    font-weight: 300;
    color: rgb(0, 255, 255);
}

/* Relational Selector */
main li {
    font-size: 100%;
}

/* Pseudo-class(es) */
:link {
    color: rgb(0, 255, 255);
}

/* I changed the visited link color from the default purple that way the words are still readable on the dark background*/
:visited {
    color: rgb(0, 255, 255);
}

/* Navigation Menu */

#nav_menu {
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 15px auto;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(0, 255, 255);
    color: rgb(128, 128, 128);
    font-weight: bold;
    border-right: 2px solid rgb(128, 128, 128);
}

#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a.current {
    color: yellow;
}

footer {
    padding-top: 2em;
    clear: both;

    /* I added this to seperate external links and placeholder links*/
    :link {
        color: rgb(255, 255, 255);
    }

    :visited {
        color: rgb(255, 255, 255);
    }
}

/* Media Queries */

/* Changes the format of the navigation menu into a column to fit on the screen from 360-750px*/
@media only screen and (max-width: 750px) {
    #nav_menu ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #nav_menu ul li {
        float: none;
        margin: 0 auto;
    }

    #nav_menu ul li a {
        text-align: center;
        display: block;
        width: 175px;
        padding: 1em 0;
        text-decoration: none;
        background-color: rgb(0, 255, 255);
        color: rgb(128, 128, 128);
        font-weight: bold;
        border-bottom: 2px solid rgb(128, 128, 128);
    }
}

/* Prevents any text breaking between 360 and 570 pixels*/
@media only screen and (max-width: 570px) {
    #aboutme {
        padding: 1em 0em 1em 0em;
        max-width: 300px;
        margin: 0 auto;
    }

    #hobbies {
        padding: 1em 0em 1em 0em;
        max-width: 300px;
        margin: 0 auto;
    }

    #favoritegames {
        padding: 1em 0em 1em 0em;
        max-width: 300px;
        margin: 0 auto;
    }

    #musicgenres {
        padding: 1em 0em 1em 0em;
        max-width: 300px;
        margin: 0 auto;
    }

    #goals {
        font-size: 18px;
        padding: 1em 0em 1em 0em;
        max-width: 300px;
        margin: 0 auto;
    }
}