/* Universal Selector */
/* Hopefully the grey background saves your eyes */
* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(128, 128, 128);
}

/* Type Selector */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 1em 1em;
    padding: 1em;
}

h1 {
    font-size: 225%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 125%;
}

/* Pseudo-class(es) */
:active {
    color: rgb(128, 0, 128);
}

/* Navigation Menu */

#nav_menu {
    padding-top: 2em;
    margin: auto;
    width: 600px;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(0, 255, 255);
  color: rgb(128, 128, 128);
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a.current {
    color: yellow;
}

footer {
    clear: left;
}