/* Universal Selector */
/* Hopefully the grey background saves your eyes */
* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255); 
  background-color: rgb(128, 128, 128);
}

/* Type Selector */
body {
  font-family:'Times New Roman', Times, serif;
  margin: 1em 1em;
  padding: 1em;
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 125%;
}

#aboutme {
  padding: 1em 0em 1em 0em;
}

#hobbies {
  padding: 1em 0em 1em 0em;
}

#favoritegames {
  padding: 1em 0em 1em 0em;
}

#goals {
  padding: 1em 0em 1em 0em;
}

/* ID Selector */
#index_goals {
  font-size: 18px;
  padding: 1em 0em 1em 0em;
}

/* Class Selector */
.heading_class {
  font-family: 'Trebuchet MS';
  font-weight: 300;
  color: rgb(0, 255, 255);
}

/* Relational Selector */
main li { font-size: 90%; }

/* Pseudo-class(es) */
:active {
  color: rgb(128, 0, 128);
}
