/* Universal Selector */
/* Hopefully the grey background saves your eyes */
* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
}

/* Type Selector */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 1em 1em;
  padding: 1em;
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 125%;
}

#aboutme {
  padding: 1em 0em 1em 0em;
}

#hobbies {
  padding: 1em 0em 1em 0em;
}

#favoritegames {
  padding: 1em 0em 1em 0em;
}

#goals {
  padding: 1em 0em 1em 0em;
}

img {
  max-width: 100%;
  margin-bottom: 1em;
}

/* ID Selector */
#index_goals {
  font-size: 18px;
  padding: 1em 0em 1em 0em;
}

/* Class Selector */
.heading_class {
  font-family: 'Trebuchet MS';
  font-weight: 300;
  color: rgb(0, 255, 255);
}

/* Relational Selector */
main li {
  font-size: 100%;
}

/* Pseudo-class(es) */
:link {
  color: rgb(255, 255, 255);
}

:visited {
  color: rgb(128, 0, 128);
}

/* Navigation Menu */

#nav_menu {
  padding-top: 1em;
  margin: auto;
}

#nav_menu ul {
  list-style-type: none;
}

#nav_menu ul li {
  float: left;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 175px;
  padding: 1em 0;
  text-decoration: none;
  background-color: rgb(0, 255, 255);
  color: rgb(128, 128, 128);
  font-weight: bold;
  border-right: 2px solid rgb(128, 128, 128);
}

#nav_menu ul li a.lastitem {
  border-right: none;
}

#nav_menu ul li a.current {
  color: yellow;
}

footer {
  padding-top: 2em;
  clear: left;

  /* I added this to seperate external links and placeholder links*/
  :visited {
    color: rgb(255, 255, 255);
  }
}